{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Adjust Leave Balance</h2>

    <form method="POST">

        <label>Employee ID</label>
        <input type="number" name="employee_id" required>

        <label>Leave Type</label>
        <input type="text" name="leave_type" required>

        <label>New Total Balance</label>
        <input type="number" name="new_total" required>

        <button type="submit">Update</button>
    </form>

    <br>
    <a href="{{ url_for('hr.dashboard') }}">Back</a>
</div>
{% endblock %}